<footer aria-label="Pie de página" class="campaigns-show" role="contentinfo">
  <div class="footer-frame"></div>
  <div class="footer no-print">
    <div class="container md:flex md:flex-row md:px-8 justify-between">
      <section
        aria-labelledby="footer-section-estado-peruano"
        class="my-6 md:mt-0"
        id="footer-section-estado-peruano"
      >
        <h2 class="mb-6 text-2xl sm:mb-4">Sobre el Estado Peruano</h2>
        <ul class="list-footer">
          <li>
            <a
              class="footer__link footer__link--visible text-white hover:text-white block track-ga-click"
              data-origin="-footer-estado-peruano-link"
              href="https://www.gob.pe/estado"
            >
              <span>El Estado Peruano</span>
            </a>
          </li>
          <li>
            <a
              class="footer__link footer__link--visible text-white hover:text-white block track-ga-click"
              data-origin="-footer-que-es-gobpe-link"
              href="https://www.gob.pe/1021-que-es-gob-pe"
              rel="noreferrer"
              target="_blank"
            >
              <span>¿Qué es Gob.pe?</span>
            </a>
          </li>
          <li>
            <a
              class="footer__link footer__link--visible text-white hover:text-white block track-ga-click"
              data-origin="-footer-politica-privacidad-manejo-datos-gobpe-link"
              href="https://www.gob.pe/institucion/pcm/informes-publicaciones/698037-politica-de-privacidad-de-gob-pe"
            >
              <span
                >Política de privacidad para el manejo de datos en Gob.pe</span
              >
            </a>
          </li>
        </ul>
      </section>
      <div class="clearfix visible-sm"></div>
      <section
        aria-labelledby="footer-section-redes"
        class="mt-10 md:mt-0"
        id="footer-section-redes"
      >
        <h2 class="mb-6 text-2xl sm:mb-4">Directorios nacionales</h2>
        <a
          class="footer__link footer__link--visible text-white hover:text-white block track-ga-click"
          data-origin="-footer-lista-directorio-redes-sociales-gobpe-link"
          href="https://www.gob.pe/funcionariospublicos"
        >
          <span>Directorio Nacional de Funcionarios Públicos</span>
        </a>
        <a
          class="footer__link footer__link--visible text-white hover:text-white block track-ga-click"
          data-origin="-footer-lista-directorio-redes-sociales-gobpe-link"
          href="https://www.gob.pe/redessociales"
        >
          <span>Directorio Nacional de Redes Sociales</span>
        </a>
        <a
          target="_blank"
          class="footer__link footer__link--visible text-white hover:text-white block track-ga-click"
          data-origin="-footer-lista-directorio-establecimientos-de-salud-gobpe-link"
          href="https://www.gob.pe/establecimientosdesalud"
        >
          <span>Directorio de Establecimientos de Salud</span>
        </a>
        <a
          target="_blank"
          class="footer__link footer__link--visible text-white hover:text-white block track-ga-click"
          data-origin="-footer-lista-directorio-establecimientos-de-salud-gobpe-link"
          href="https://www.gob.pe/aeropuertosperu"
        >
          <span>Directorio Nacional de Aeropuertos</span>
        </a>
        <h2 class="text-2xl my-10 md:mb-6">Síguenos</h2>
        <div class="flex-row footer__social-icons mb-6 sm:mb-2">
          <div class="footer__social-icons--correction">
            <ul class="footer__icons">
              <li class="mr-6">
                <a
                  aria-label="Facebook"
                  class="track-ga-click"
                  data-origin="-footer-social-icon-facebook-link"
                  href="https://www.facebook.com/PeruPaisDigital/"
                  rel="noreferrer"
                  target="_blank"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="28"
                    height="28"
                    viewBox="0 0 28 28"
                    aria-hidden="true"
                    class="footer__icon"
                  >
                    <g>
                      <g>
                        <path
                          fill="#fff"
                          d="M28.098 13.793C28.098 6.261 21.993.155 14.46.155 6.928.155.822 6.261.822 13.793c0 6.807 4.987 12.45 11.507 13.472v-9.53H8.867v-3.942h3.462V10.79c0-3.419 2.037-5.307 5.152-5.307 1.492 0 3.053.267 3.053.267v3.356h-1.72c-1.694 0-2.223 1.05-2.223 2.13v2.558h3.783l-.605 3.942H16.59v9.53c6.52-1.022 11.507-6.665 11.507-13.472z"
                        ></path>
                      </g>
                    </g>
                  </svg>
                </a>
              </li>
              <li class="mr-6">
                <a
                  aria-label="Twitter"
                  class="track-ga-click"
                  data-origin="-footer-social-icon-twitter-link"
                  href="https://twitter.com/PeruPaisDigital"
                  rel="noreferrer"
                  target="_blank"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="26"
                    height="26"
                    viewBox="0 0 18 18"
                    fill="none"
                    aria-hidden="true"
                    class="footer__icon"
                  >
                    <path
                      d="M11.0237 7.46187L17.3304 0.230957H15.8359L10.3598 6.50946L5.98604 0.230957H0.941406L7.55541 9.72516L0.941406 17.3079H2.43598L8.21893 10.6776L12.838 17.3079H17.8826L11.0233 7.46187H11.0237ZM8.97668 9.80881L8.30654 8.8634L2.9745 1.34068H5.27009L9.5731 7.41175L10.2432 8.35716L15.8367 16.2486H13.5411L8.97668 9.80917V9.80881Z"
                      fill="white"
                    ></path>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section
        aria-labelledby="footer-section-end"
        class="mt-10 md:mt-0"
        id="footer-section-end"
      >
        <div class="flex justify-end" id="to-top">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="60"
            height="56"
            viewBox="0 0 60 56"
            class="md:hidden"
          >
            <defs>
              <clipPath id="3t3la">
                <path fill="#fff" d="M0 56V0h60v56z"></path>
              </clipPath>
            </defs>
            <g>
              <g>
                <g>
                  <path fill="#fff" d="M0 56V0h60v56z"></path>
                  <path
                    fill="none"
                    stroke="#707070"
                    stroke-miterlimit="20"
                    stroke-width="2"
                    d="M0 56v0V0v0h60v56z"
                    clip-path='url("#3t3la")'
                  ></path>
                </g>
                <g>
                  <path
                    fill="#222"
                    d="M18 29.867l2.115 2.115 8.385-8.37v18.255h3V23.612l8.37 8.385 2.13-2.13-12-12z"
                  ></path>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </section>
    </div>
  </div>
  <div class="footer-frame"></div>
</footer>
