{% set usuario_menu = usuario_actual %} {% set rol = usuario_menu.nombre_perfil
if usuario_menu else 'Administrador' %} {% set nombre_usuario =
usuario_menu.nombre_completo if usuario_menu else 'Usuario' %} {% set
menus_permitidos = usuario_menu.menus_permitidos if usuario_menu else [] %}

<!-- Barra superior -->
<div
  id="nav-superior"
  class="z-depth-1"
  style="background-color: #fff; padding: 10px"
>
  <div style="float: left; top: 10px; position: absolute; left: 10px">
    <a
      href="{{ url_for('geoportal.principal') }}"
      class="btn waves-effect blue darken-1 white-text"
    >
      <i class="material-icons left white-text">public</i>Ir al Geoportal
    </a>
  </div>
  <div style="float: right; position: absolute; top: 10px; right: 10px">
    <a
      href="{{ url_for('gestion.logout') }}"
      class="btn waves-effect red darken-1 white-text"
    >
      <i class="material-icons left white-text">exit_to_app</i>Salir
    </a>
  </div>
</div>

<!-- Menú lateral -->
<ul id="slide-out" class="sidenav sidenav-fixed">
  <li>
    <div class="user-view">
      <a href="#user">
        <img
          id="imgFotoPerfil"
          class="circle"
          src="../static/images/photo_init.png"
        />
      </a>
      <a href="#!">
        <span id="spanUsuario" class="white-text">
          <label
            style="font-size: 20px; font-weight: 600; color: white"
            id="lblUsuario"
            >{{ nombre_usuario }}</label
          >
        </span>
      </a>
      <br />
      <a href="#!">
        <span id="spanRol" class="white-text">
          <label
            style="font-size: 14px; font-weight: 400; color: white"
            id="lblRol"
            >{{ rol }}</label
          >
        </span>
      </a>
    </div>
  </li>
  {% if 'menu01' in menus_permitidos %}
  <li><a class="subheader white-text">GESTION DE INFORMACIÓN</a></li>
  <li id="menu01">
    <a href="#" class="white-text"
      ><i class="material-icons white-text">diversity_3</i> Organización
      institucional
    </a>
  </li>
  {% endif %} {% if 'menu02' in menus_permitidos or 'menu03' in menus_permitidos
  %}
  <li><a class="subheader white-text">PLATAFORMA TECNOLOGICA</a></li>
  {% if 'menu02' in menus_permitidos %}
  <li id="menu02">
    <a href="{{ url_for('herramientas_digitales.inicio') }}" class="white-text"
      ><i class="material-icons white-text">apps</i> Herramientas digitales</a
    >
  </li>
  {% endif %} {% if 'menu03' in menus_permitidos %}
  <li id="menu03">
    <a href="{{ url_for('capas_geograficas.inicio') }}" class="white-text">
      <i class="material-icons white-text">layers</i> Capas geográficos
    </a>
  </li>
  {% endif %} {% endif %} {% if 'menu04' in menus_permitidos %}
  <li>
    <div class="divider"></div>
  </li>
  <li><a class="subheader white-text">SEGUIMIENTO</a></li>
  <li id="menu04">
    <a href="#" class="white-text"
      ><i class="material-icons white-text">track_changes</i> Seguimiento</a
    >
  </li>
  {% endif %} {% if 'menu05' in menus_permitidos or 'menu06' in menus_permitidos
  or 'menu07' in menus_permitidos or 'menu08' in menus_permitidos or 'menu09' in
  menus_permitidos %}
  <li>
    <div class="divider"></div>
  </li>
  <li><a class="subheader white-text">CONFIGURACIÓN</a></li>
  {% if 'menu05' in menus_permitidos %}
  <li id="menu05">
    <a href="#" class="white-text"
      ><i class="material-icons white-text">people</i> Usuarios</a
    >
  </li>
  {% endif %} {% if 'menu06' in menus_permitidos %}
  <li id="menu06">
    <a href="{{ url_for('personal.listar') }}" class="white-text"
      ><i class="material-icons white-text">person</i> Personal</a
    >
  </li>
  {% endif %} {% if 'menu07' in menus_permitidos %}
  <li id="menu07">
    <a href="{{ url_for('instituciones.listar') }}" class="white-text"
      ><i class="material-icons white-text">account_balance</i> Instituciones</a
    >
  </li>
  {% endif %} {% if 'menu08' in menus_permitidos %}
  <li id="menu08">
    <a href="{{ url_for('categorias.listar') }}" class="white-text"
      ><i class="material-icons white-text">format_list_numbered</i>
      Categorías</a
    >
  </li>
  {% endif %} {% if 'menu09' in menus_permitidos %}
  <li id="menu09">
    <a href="{{ url_for('tipos_servicios.listar') }}" class="white-text"
      ><i class="material-icons white-text">cloud</i> Tipo de servicios</a
    >
  </li>
  {% endif %} {% endif %} {% if 'menu10' in menus_permitidos %}
  <li>
    <div class="divider"></div>
  </li>
  <li><a class="subheader white-text">MI CUENTA</a></li>
  <li id="menu10">
    <a href="#" class="white-text"
      ><i class="material-icons white-text">perm_identity</i> Datos
      personales</a
    >
  </li>
  {% endif %}
</ul>
